<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,
        wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&
        family=Cal+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&
        family=Liter&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&
        family=Playfair+Display:ital,wght@0,400..900;1,400..900&
        family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&
        family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta name="msapplication-square70x70logo" content=".../icons8-right arrow-win8-70.png">
    <title>Day-Hype</title>
</head>
<body onclick="inputClick()">
    <header class="main-header main-font">
        <h3 class="home-logo"><a href="/home-page"><i>DAY-HYPE</i></a></h3>
        <ul role="list" class="header-list">
            <li><a href="/login">Log In</a></li>
            <li><a href="/register">Sign Up</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <%- include("../public/images/burger-menu.svg")%>
        
        <div class="mobile-scale-menu">
            <%- include("../public/images/close-x.svg")%>
            <ul role="list" class="header-list-mobile">
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </header>
    <main class="auth-main">
        <fieldset class="login-fieldset auth-fieldset">
            <form action="/login" method="POST" class="login-form auth-form">
                <h3>Log In</h3>
                <div class="form-div">
                    <input type="text" name="username" placeholder="username" onclick="inputClick()" id="username">
                    <img class="input-icon user-icon" src="images/user-icon.svg" alt="">
                </div>
                <div class="form-div">
                    <input type="password" name="password" placeholder="password" id="password" onclick="inputClick()">
                    <img class="input-icon pass-icon" src="images/lock-icon.svg" alt="">
                    <img class="password-icon" src="images/visible-icon.svg" alt="" onclick="seePassword()">
                </div>
                
                <div class="login-div">
                <label class="remember-me">Remember Me
                    <input type="checkbox" name="remember"/>
                    <span class="my-checkbox"></span>
                </label>
                <a href="">Forgot Password?</a>
                </div>
                <input type="submit" class="submit-btn" value="Log In">
                <p>Don't have an account? <a href="/register">Register</a></p>
            </form>
        </fieldset>
    </main>
    <footer class="login-footer">
            <h3 class="home-logo-footer"><i>DAY-HYPE</i></h3>
            <ul role="list" class="footer-ul list1">
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Create Account</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Services</a></li>
            </ul>
            <ul role="list" class="footer-ul list2">
                <li><a href="">Men</a></li>
                <li><a href="">Women</a></li>
                <li><a href="">Girls</a></li>
                <li><a href="">Boys</a></li>
                <li><a href="">Unisex</a></li>
                <li><a href="">New Collection</a></li>
            </ul>
            <div class="last-div-footer">
                <ul role="list" data-type="media-icons" class="social-media">
                    <li><a href="#"><img class="media-icon" src="images/facebook.svg"></a></li>
                    <li><a href="#"><img class="media-icon" src="images/instagram.svg"></a></li>
                    <li><a href="#"><img class="media-icon" src="images/tiktok.svg"></a></li>
                    <li><a href="#"><img class="media-icon" src="images/twitter.svg"></a></li>
                    <li><a href="#"><img class="media-icon" src="images/twitch.svg"></a></li>
                </ul>

                <p>Copyright © by Erik Gažovič, <%= year %></p>

            </div>
            
            
    </footer>
    <script>
        const passwordInput = document.querySelector('#password');
        const eyeImg = document.querySelector('.password-icon');

        function seePassword() {
            if (passwordInput.getAttribute('type') === "password")  {
                passwordInput.setAttribute('type', 'text');
                eyeImg.setAttribute('src', 'images/not-visible-icon.svg');
            } else {
                passwordInput.setAttribute('type', 'password');
                eyeImg.setAttribute('src', 'images/visible-icon.svg');
            };
        }

        const usernameInput = document.querySelector("#username");
        const userIcon = document.querySelector(".user-icon");
        const passwordIcon = document.querySelector(".pass-icon");

        function inputClick() {
            var source = event.target;
            if (source.name === "username") {
                passwordInput.style.padding = "0px 45px";
                passwordIcon.style.display = "block";
                usernameInput.style.padding = "0px 15px";
                userIcon.style.display = "none";
            } else if (source.name === "password") {
                usernameInput.style.padding = "0px 45px";
                userIcon.style.display = "block";
                passwordInput.style.padding = "0px 15px";
                passwordIcon.style.display = "none";
            } else {
                passwordInput.style.padding = "0px 45px";
                passwordIcon.style.display = "block";
                usernameInput.style.padding = "0px 45px";
                userIcon.style.display = "block";
            }

            
        }

        const burgerMenu = document.querySelector(".burger-menu");
    const xButton = document.querySelector(".close-x");
    const mobileMenu = document.querySelector(".mobile-scale-menu");

    burgerMenu.addEventListener("click", function () {
        this.style.display = "none";
        mobileMenu.style.width = "170px";
        mobileMenu.style.borderLeft = "2px solid gray";
    })

    xButton.addEventListener("click", function () {
        mobileMenu.style.width = "0px";
        mobileMenu.style.borderLeft = "none";
        burgerMenu.style.display = "block";
    });


    function myFunction(x) {
            if (x.matches) {
                burgerMenu.style.display = "block";
            } else {
                burgerMenu.style.display = "none";
                mobileMenu.style.width = "0px";
                mobileMenu.style.borderLeft = "none";
            }
        }


        var x = window.matchMedia("(max-width: 500px)");

        x.addEventListener("change", function() {
            myFunction(x);
        });
        
    </script>
        